@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
}

.main-container {
  padding: 16px 20px;
}

.product-card {
  box-shadow: 0px 10px 60px 0px #0000000D;
}

@media (min-width: 1024px) {
  .main-container {
    padding: 60px 120px 60px 120px;
  }
}