@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
}

.main-container {
  padding: 30px 65px 30px 65px;
}

@media (min-width: 760px) {
  .main-container {
    padding: 60px 120px 60px 120px;
  }
}